// window size
XLargeWindow = 1600
LargeWindow = 1240
MediumWindow = 960
SmallWindow = 480

// Font Size
RootSize = 16px
ExtraHugeSize = 2.25em
HugeSize = 2em
ExtraLargeSize = 1.75em
LargeSize = 1.5em
MediumSize = 1.25em
RegularSize = 1em
SmallSize = 0.875em
ExtraSmall = 0.75em

PrimaryBlack = #303133
RegularBlack = #606266
LightBlack = #909399
ExtraLightBlack = #C0C4CC
BaseGray = #DCDFE6
LightGray = #E4E7ED
LighterGray = #EBEEF5
ExtraLightGray = #F2F6FC
